.accordion {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.accordion-btn {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    background-color: #eee;
}

.content {
    display: none;
    background: #f9f9f9;
    overflow: hidden;
}

.accordion-btn.active {
    background-color: #ddd;
}
